@import "src/index.scss";

.direction {
  direction: e(ltr);
}

.left-and-right {
  float: e(left);
  margin-#{e(left)}: 1rem;
}

.positive-and-negative-values {
  right: e(-1%);
  left: e(1px);
}

.translate-and-translateX {
  transform: translate(1px, 1px);
  transform: translateX(1rem);
}