/*

returns direction.

preview:
  direction: rtl => direction: ltr
  direction: ltr => direction: rtl
---------------------------------

*/

@function dir($dir) {

  @if $easyDir == true {

    @if $dir == ltr {

      $dir: rtl;

    } @else if $dir == rtl {

      $dir: ltr;
    }

    @return $dir;

  } @else {

    @return $dir;
  }

}