/*
type of output: boolean
description: is $string contains $find
*/
/*
type of output: string
description: return value in String type
*/
/*

warning: this will disable css prop value translateX.

preview:
  transform: translateX(30px) => transform: translateX(-30px)
  transform: translateX(-20%) => transform: translateX(20%)
---------------------------------

*/
/*

warning: this will disable css prop value translate.

preview:
  transform: translate(30px, 10px) => transform: translate(-30px, 10px)
  transform: translate(-20%, 10%) => transform: translate(20%, 10%)
---------------------------------

*/
/*

returns direction.

preview:
  direction: rtl => direction: ltr
  direction: ltr => direction: rtl
---------------------------------

*/
/*

type of output: value selfs

preview:
  prop-left:  => prop-right:
  prop-right: => prop-left:
  prop: left  => prop: right
  prop: right => prop: left
---------------------------------

*/
/*

type of output: string

preview:
  prop: -10px => prop: 10px
  prop: 3rem => prop: -3rem
---------------------------------

*/
/*

type of output: value selfs

preview:
  prop: 1px 2px 3px 4px => prop: 1px 4px 3px 2px
  prop: 10% 20% 30% 40% => prop: 10% 40% 30% 20%
---------------------------------

*/
.functions {
  direction: rtl;
  direction: ltr;
  float: right;
  float: left;
  text-align: right;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: 1px 4px 3px 2px;
  padding: 10% 40% 30% 20%;
  transform: translateX(-30px);
  transform: translateX(30px);
  transform: translate(-30px,1px);
  transform: translate(30px,1px);
  transform: translate(30%,10px);
  transform: translateX(-20px);
}