@import 'variables';
@import 'functions';


.functions {

  direction: dir(ltr);
  direction: dir(rtl);

  float: lr(left);
  float: lr(right);

  text-align: lr(left);
  text-align: lr(right);

  margin-#{ lr(right) }: 20px;
  margin-#{ lr(left) }: 20px;

  padding-#{ lr(right) }: 20px;
  padding-#{ lr(left) }: 20px;

  border-#{ lr(right) }: 1px solid gray;
  border-#{ lr(left) }: 1px solid gray;

  margin: sf(1px, 2px, 3px, 4px);
  padding: sf(10%, 20%, 30%, 40%);

  transform: translateX( pn(-30px) );
  transform: translateX( pn(30px) );
  transform: translate( pn(-30px), 1px );
  transform: translate( pn(30px), 1px );

  transform: translate(-30%, 10px);
  transform: translateX(20px);

}