// turn on/off lib functionality.
$eActive: true !default;

// direction than you want to styles be convert.
$eConvertTo: rtl !default;

// Smart translates
// this will disable css prop value translate.
$eTranslate: true !default;
// this will disable css prop value translateX.
$eTranslateX: true !default;