@use 'sass:string';
@import './functions/core.scss';
@import './functions/translate.scss';
@import './functions/boolean.scss';
@import './functions/direction.scss';



/*

type of output: value selfs

preview:
  prop-left:  => prop-right:
  prop-right: => prop-left:
  prop: left  => prop: right
  prop: right => prop: left
---------------------------------

*/

@function lr($prop_dir) {

  @if $easyDir == true {

    @if $prop_dir == left {

      $prop_dir: right;

    } @else if $prop_dir == right {

      $prop_dir: left;
    }

    @return $prop_dir;

  } @else {

    @return $prop_dir;
  }

}



/*

type of output: string

preview:
  prop: -10px => prop: 10px
  prop: 3rem => prop: -3rem
---------------------------------

*/

@function pn($value) {

  @if $easyDir == true {

    // convert the value to string
    $value: toString($value);
    
    @if contains($value, "-") {

      @return string.slice($value, 2);

    } @else {

      @return -#{$value};
    }

  } @else {

    @return $value;
  }
}



/*

type of output: value selfs

preview:
  prop: 1px 2px 3px 4px => prop: 1px 4px 3px 2px
  prop: 10% 20% 30% 40% => prop: 10% 40% 30% 20%
---------------------------------

*/

@function sf($value-1, $value-2, $value-3, $value-4) {

  @if $easyDir == true {

    @return $value-1 $value-4 $value-3 $value-2;

  } @else {
    
    @return $value-1 $value-2 $value-3 $value-4;
  }
}