@mixin edir-active {
  @if $easy_dir-is_active == true {
    @content;
  }
}

@mixin edir-disable {
  @if $easy_dir-is_active == false {
    @content;
  }
}




@mixin edir($arg...) {





  /*
  prop: margin, padding, border-radius
  input(margin, 10px, 15px, 20px, 25px) output(margin: 10px 25px 20px 15px)
  */
  @include edir-active {


    @if length($arg) == 2 {

      // direction
      @if nth($arg, 1) == direction {
        @if nth($arg, 2) == ltr {
          #{ nth($arg, 1) }: rtl
        }
        @else if nth($arg, 2) == rtl {
          #{ nth($arg, 1) }: ltr
        }
      }
      
    }


    @if length($arg) == 5 {
      #{ nth($arg, 1) }: #{ nth($arg,2) nth($arg,5) nth($arg,4) nth($arg,3) }
    }


  }

  @include edir-disable {


    @if length($arg) == 2 {

      // direction
      @if nth($arg, 1) == direction {
        #{ nth($arg, 1) }: #{ nth($arg, 2) }
      }

    }


    @if length($arg) == 5 {
      #{ nth($arg, 1) }: #{ nth($arg,2) nth($arg,3) nth($arg,4) nth($arg,5) }
    }


  }


}

@mixin mr($val) {
  @if $easy_dir-is_active == true {

    margin-left: $val;

  } @else {

    margin-right: $val;
  }
}
@mixin ml($val) {
  @if $easy_dir-is_active == true {

    margin-right: $val;

  } @else {

    margin-left: $val;
  }
}
@mixin pr($val) {
  @if $easy_dir-is_active == true {

    padding-left: $val;

  } @else {

    padding-right: $val;
  }
}
@mixin pl($val) {
  @if $easy_dir-is_active == true {

    padding-right: $val;

  } @else {

    padding-left: $val;
  }
}

@mixin br($val) {
  @if $easy_dir-is_active == true {

    border-left: $val;

  } @else {

    border-right: $val;
  }
}
@mixin bl($val) {
  @if $easy_dir-is_active == true {

    border-right: $val;

  } @else {

    border-left: $val;
  }
}


// $side-props: (
//   m: margin,
//   p: padding,
//   b: border
// );
// $sides: (
//   r: right,
//   l: left
// );


// @each $side_k, $side_v in $sides {
//   @each $prop_k, $prop_v in $side-props {
//     @mixin #{$prop_k}#{$side_k}($value) {
//       #{$prop_v}-#{$side_v}: $value;
//     }
//   }
// }